/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}      */


p{
  color: green;
  background-color: #DDE0E3;
  padding: 20px 10px;
  width: 1200px;
  /*margin-top: 25px;
  margin-bottom: 50px;      * Light gray */
  margin: 20px auto;
  box-sizing: border-box;
  text-align: center;
}
/*
h1, p {
  padding: 20px;
  background-color: #DDE0E3;    * Light gray *
  border: 1px solid #5D6063;
  border-bottom: 1px solid #5D6063;
}

*/
em, strong {
  background-color: #B2D6FF;    /* Light blue */
}

h2{
  color: blue;
}

.boxmodel{
     /* border: 5px solid red; */
     /* padding: 50px; */
   border-top: 10px solid red;
   border-bottom: 10px dashed blue;
  border-left: 5px double green;
  border-right: 5px dotted orange;
   /* border-color: red blue green yellow;
  border-width: 10px 5px; */
   /* display:  inline-block; */
   /* padding: 70px 60px; */
 padding-top: 30px;
 padding-right: 20px;
 padding-bottom: : 30px;
 padding-left: 20px;
   /* padding: 50px 40px; */

/*
  margin: 20px;

width: 36px;
height: 30px; */
}

.boxmodel1{
  /* border: 5px solid red; */
  border-top: 10px solid #7EBD91;
  border-bottom: 10px dashed #984C8A;
 border-left: 5px double blue;
 border-right: 5px dotted red;
  display:  inline-block;
  /* padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px; */
  /* padding: 30px 20px 30px 20px; */
  padding: 50px;
    /*display: inline-block;*/
   /* padding: 30px 20px; */
   margin: 30px;
/*  margin: 50px 30px;
  width: 66px;
  height: 44px; */
}
.boxmodel2{
  border: 5px solid red;
  /*display: inline-block;*/
  padding: 20px 20px;
  margin: 40px 30px;
  width: 66px;
  height: 44px;
}
