/* Here is where I will Put the Global Css for the Html pages for each class*/
/* I think i will use FlexBox instead of grid for these pages */
*{
  font-size: 15px;
  font-weight: 400;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif, monospace, serif;
}
body{
  background-color: rgba(240, 240, 240, 0.5);
}
h1{
  font-weight: 600;
}
h2{
  font-weight: 500;
}
li {
  list-style-type: none;/*This Removes the bullet Points*/
  font-family: Tahoma, Roboto, 'Segoe UI', sans-serif, monospace, serif;
  padding: 5px;

  /* Slightly more Risky might brake some parts of the
   website this is test for looks */

   background-color: rgba(22, 137, 121, .5); /*Terquise*/
   border: 2px solid rgba(22, 137, 121, .5); /*Terquise*/
   box-shadow: 0px 1px 6px 0px rgba(22, 137, 121, 1); /*Terquise*/
   border-radius: 100px; /*This border radius controls most borders on the page*/

}
header{
  background-color: rgba(22, 137, 121, .5); /*Terquise*/
  border: 2px solid rgba(22, 137, 121, .5); /*Terquise*/
  box-shadow: 0px 1px 6px 0px rgba(22, 137, 121, 1); /*Terquise*/
  border-radius: 100px;
  padding: 20px;
  margin: 5px 20px;
}

 /*
 @media only screen
 and (min-device-width:50px)
 and (max-device-width:850px){{ }}
*/

/* Above is the stuff I checked so far and is new or in use by a part
 of the pages I wish not to change at this moment 3/3/2022 */


/* making anchor tags into buttons */
a{
  background-color: rgba(255, 255, 255,1);/*White*/
  border: 0px solid rgba(200, 200, 200,1);/**/
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0,1); /*Googlie shadow black.*/
  border-radius: 100px;/*?*/
  padding: 6px; /*Padding is how far away the text is from the Border.*/
  margin: 5px;/*Margin is how far away it is from other items.*/
  text-decoration: none;
  font-style:  normal;
}

a:link{
  color: rgba(120, 120, 120, 1); /*Dark Gray*/
}
a:hover,a:active,a:visited{
  color: rgba(120, 120, 120, 1); /*Dark Gray*/
}

/* Colors I like to Use on this Site. */
/* rgba(22, 137, 121,1); Terquise*/
/* rgba(255,0,0,.5); Orange-Red*/

/* rgba(206, 111, 113, .5); /* Light redish brown */
/* rgba(208, 134, 112, 1); /* Dark Peach light brown */
/* rgba(79, 147, 111, 1); /* Frogish soft green */
/* rgba(94, 168, 90, 1); /* Smooth green */

/* rgba(62, 87, 139, 1); /*Navy Blue*/
/* rgba(65, 159, 131, 1); /*Teal Terquise*/

/* New stuff For ClassPages Classes Added that werent part of he main page.*/
/* 3/3/2022  */
.Recordinglink{
  background-color: rgba(206, 111, 113, .8); /*Light redish brown*/
  border: 2px solid rgba(206, 111, 113, .8); /*Light redish brown*/
  box-shadow: 0px 5px 6px 0px rgba(206, 111, 113, 1); /*Light redish brown*/
  /* border-radius: 100px; */
}
.html_link{
  background-color: rgba(208, 134, 112, .8); /* Dark Peach light brown */
  border: 2px solid rgba(208, 134, 112, .8); /* Dark Peach light brown */
  box-shadow: 0px 5px 6px 0px rgba(208, 134, 112, 1); /* Dark Peach light brown */
  /* border-radius: 100px; */
}
.css_link{
  background-color: rgba(79, 147, 111, .8); /* Frogish soft green */
  border: 2px solid rgba(79, 147, 111, .8); /* Frogish soft green */
  box-shadow: 0px 5px 6px 0px rgba(79, 147, 111, 1); /* Frogish soft green */
  /* border-radius: 100px; */
}
.js_link{
  background-color: rgba(94, 168, 90, .8);/* Smooth green */
  border: 2px solid rgba(94, 168, 90, .8);/* Smooth green */
  box-shadow: 0px 5px 6px 0px rgba(94, 168, 90, 1);/* Smooth green */
  /* border-radius: 100px; */
}
.class-code{}

.external_website_link{
  background-color: rgba(65, 159, 131, .8); /*Teal Terquise*/
  border: 2px solid rgba(65, 159, 131, .8); /*Teal Terquise*/
  box-shadow: 0px 1px 6px 0px rgba(65, 159, 131, 1); /*Teal Terquise*/
  border-radius: 100px;
}
.outline_points{
  background-color: rgba(62, 87, 139, .8); /*Navy Blue*/
  border: 2px solid rgba(62, 87, 139, .8); /*Navy Blue*/
  box-shadow: 0px 1px 6px 0px rgba(62, 87, 139, 1); /*Navy Blue*/
  border-radius: 100px;
}

.overview_descripton{}

p{
  background-color: rgba(22, 137, 121, .5); /*Terquise*/
  border: 2px solid rgba(22, 137, 121, .5); /*Terquise*/
  box-shadow: 0px 1px 6px 0px rgba(22, 137, 121, 1); /*Terquise*/
  border-radius: 10px;
  /* width: 500px; */
  padding: 20px;
  margin: 5px 20px;
}
a.HW{
  /* This is Temporary coloring just to set it apart 3/7/2022 also the HW tag is new. */
  background-color: rgba(208, 134, 112, .8); /* Dark Peach light brown */
  border: 2px solid rgba(208, 134, 112, .8); /* Dark Peach light brown */
  box-shadow: 0px 5px 6px 0px rgba(208, 134, 112, 1); /* Dark Peach light brown */
  /* border-radius: 100px; */
}
