/* StyleV2 StyleSheet */

*{
  font-size: 15px;
  font-family: monospace, serif;
}
@media only screen
and (min-device-width:50px)
and (max-device-width:1550px){
  *{ font-size: 10px;}
}
body{
  background-color: rgba(0,0,0,0.05);/* gray background of page*/
}
.classes-grid-container {
display: grid;
grid-template-columns:  1fr 1fr;
grid-template-rows:auto;
/* background-color: gray; */
padding: 10px;
}
@media only screen
and (min-device-width:50px)
and (max-device-width:1050px){
  .classes-grid-container {
  grid-template-columns:  1fr ;
  }}



.classes-grid-container{
  media
}

.classes-grid-item {
list-style-type: none;
background-color: rgba(22, 137, 121,1);/*Terquise*/
border: 0px solid rgba(255,0,0,1);/*Red*/
border-radius: 20px;
padding: 20px;
margin: 5px;
font-size: 15px;
width: 1fr;
box-shadow: 5px 5px rgba(145, 204, 32,1); /*green*/

}

/* making anchor tags into buttons */
a{
  background-color: rgba(6, 84, 139,1);/*DarkBlue*/
  border: 2px solid rgba(219, 193, 35,1);/*yellow-gold*/
  box-shadow: 3px 3px rgba(9.8, 1.6, 35.7,.5);
  border-radius: 25px;
  padding: 8px;
  margin: 5px;
  text-decoration: none;
}
a:link{
  color: black;
}
a:hover,:active,:visited{
  color: Black;
}

/* below is how I intend to put the date below the link. */
p.classdate{
padding-left: 15px;
}
