/* StyleV2.2 StyleSheet */
/* main diffrence between 2.0 and 2.2 is color changes on this style sheet. */
*{
  font-size: 15px;
  font-weight: 400;

  font-family:  Roboto, 'Segoe UI', Tahoma, sans-serif, monospace, serif;
}

}
body{
  background-color: rgba(255,255,255,1);/* white background of page*/
}
.classes-grid-container {
display: grid;
grid-template-columns:  1fr 1fr;
grid-template-rows:auto;
/* background-color: gray; */
padding: 10px;
}
@media only screen
and (min-device-width:50px)
and (max-device-width:850px){
  .classes-grid-container {grid-template-columns:  1fr ;}
  *{ font-size: 10px;}
}

.classes-grid-item {
list-style-type: none;
background-color: rgba(255,0,0,.5);/*Orange-Red*/
border: 1px solid rgba(255,0,0,.5);/*Orange-Red*/
border-radius: 10px;/*?*/
padding: 20px;
margin: 5px;
font-size: 15px;
width: 1fr;
box-shadow: 0px 1px 6px 0px rgba(255,0,0,1);/*Orange-Red*/

}

/* making anchor tags into buttons */
a{
  background-color: rgba(255, 255, 255,1);/*DarkBlue*/
  /* border: 2px solid rgba(22, 137, 121,1);/*Terquise*/ */
  border: 0px solid rgba(200, 200, 200,1);/**/
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0,1); /*Googlie shadow black.*/
  border-radius: 100px;/*?*/
  padding: 8px;
  margin: 5px;
  text-decoration: none;
}
a:link{
  color: rgba(120, 120, 120, 1); /*Dark Gray*/
}
a:hover,a:active,a:visited{
  color: rgba(120, 120, 120, 1); /*Dark Gray*/
}

/* below is how I intend to put the date below the link. */
p.classdate{
padding-left: 15px;
}
header{
  background-color: rgba(22, 137, 121, .5); /*Terquise*/
  border: 2px solid rgba(22, 137, 121, .5); /*Terquise*/
  padding: 20px;
  margin: 5px 20px;
  border-radius: 100px;
  box-shadow: 0px 1px 6px 0px rgba(22, 137, 121, 1); /*Terquise*/
}
